body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}
.field {
    width: 85%;
    margin: 0 auto;
}

.field label {
    display: block;
    font-size: 3rem;
    margin-top: 3px;
}

.field input {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 3.6rem;
    border-radius: 10px;
}
.Titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Titulo-log{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.Titulo-cad{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.cad-sub{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.log-sub{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 65%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
h1{
    font-size: 75px;
}
h2{
    font-size: 50px;
}
.Nome-Titulo{
    color: rgb(255, 123, 0);
}
.login-nome{
    color: white;
}
.cad-nome{
    color: white;
}
.Tela {
    width: 100%;
    height: 100vh;

    position: relative;
    overflow: hidden;

    background-image: url('../imagem/back1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    gap: 70px;
    padding-bottom: 20px;
}
.but{
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: 30px;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 15px;
}
.logo{
    flex: 1;
}


/* From Uiverse.io by cssbuttons-io */ 
button {
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}
.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsla(0, 0%, 40%, 0.293) 0%,
    hsl(0, 0%, 33%) 8%,
    hsl(0, 0%, 32%) 92%,
    hsl(0, 0%, 76%) 100%
  );
}
.front {
 display: block;
 position: relative;
 padding: 56px 108px;
 border-radius: 12px;
 font-size: 3rem;
 color: rgb(0, 0, 0);
 background: hsl(18, 14%, 86%);
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.front2 {
 display: block;
 position: relative;
 padding: 56px 108px;
 border-radius: 12px;
 font-size: 3rem;
 color: rgb(255, 255, 255);
background: hsl(21, 100%, 47%);
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge2 {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsla(21, 100%, 50%, 0.293) 0%,
    hsl(27, 100%, 32%) 8%,
    hsl(32, 100%, 28%) 92%,
    hsl(21, 100%, 23%) 100%
  );
}


button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .front2 {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front2 {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}